.env
.venv/
venv/
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
.DS_Store

uploads/*
!uploads/company_logos/
!uploads/job_descriptions/
!uploads/company_logos/.gitkeep
!uploads/job_descriptions/.gitkeep
